.title{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.card {
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 44px;
    text-align: center;
    
  }

  .button{
      text-align: center;
  }

  .card2 {
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 44px;
    text-align: center;
    
  }